// Name:            Switcher
// Description:     Component to navigate through different content panes
//
// Component:       `x-switcher`
//
// States:          `x-active`
//
// ========================================================================


/* ========================================================================
   Component: Switcher
 ========================================================================== */

/*
 * Reset list
 */

.x-switcher {
  margin    : 0;
  padding   : 0;
  list-style: none;
}


/* Items
 ========================================================================== */

/*
 * Hide not active items
 */

.x-switcher> :not(.x-active) {
  display: none;
}

/*
 * Remove margin from the last-child
 */

.x-switcher>*> :last-child {
  margin-bottom: 0;
}


// Hooks
// ========================================================================

@if(mixin-exists(hook-switcher-misc)) {
  @include hook-switcher-misc();
}

// @mixin hook-switcher-misc(){}
